.profile__whoisit {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    border: blue solid 1px;
}


@media screen and (max-width: 657px){
    .profile__whoisit {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        justify-self: center;
        max-width: 300px;
    }
  }