.profile {
  display: flex;
  margin: 0 0 47px 0;
  justify-content: space-between;
}

@media screen and (max-width: 657px){
  .profile {
      flex-direction: column;
      margin-bottom: 38px;
  }
}