.profile__add-button {
    background-image: url(../../../images/profile-add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px 74px;
    border: white solid 2px;
    align-self: center;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

@media screen and (max-width: 657px){
    .profile__add-button {
        width: 47%;
        height: 16px;
    }
  }