.img-popup__close {
    background: url(../../../images/Close\ Icon.svg);
    width: 33px;
    height: 33px;
    border: none;
    position: absolute;
    top: -37px;
    right: -40px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.img-popup__close:hover {
    opacity: 0.6;
    transition: 0.3s;
}

@media screen and (max-width: 552px){
    .img-popup__close {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0px;
    }
  } 