.profile__info {
    display: grid;
    grid-template-columns: 1fr min-content;
}

@media screen and (max-width: 657px){
    .profile__info {
        margin: 15px 0 20px 0;
        justify-items: end;
    }
  }